PORT=3001
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=change_this_in_real_usage
PRIVACY_SECRET=change_this_for_opaque_mongo_ids
JWT_EXPIRES_IN=7d
CHAIN_ID=80002
MONGODB_URI=mongodb://127.0.0.1:27017/dapp-chatting
MONGODB_DB_NAME=dapp-chatting
